@model EQS.Models.LogSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LogSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Window)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Window)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
